<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.yobangcok.model.dao.BoardDao">

	<resultMap id="Board"
		type="com.ssafy.yobangcok.model.dto.Board">
		<result column="no" property="no" />
		<result column="category" property="category" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="user_id" property="userId" />
		<result column="nickname" property="nickname" />
		<result column="created_time" property="createdTime" />
		
		<result column="good" property="good" />
		
		<result column="bad" property="bad" />

	</resultMap>

	<select id="selectAll" parameterType="Int" resultMap="Board">
		select no, category, 
		title, nickname, view, created_time
		from board
		where category =
		#{categoryNo}
		order by no desc
	</select>

	<insert id="insert" parameterType="Board">
		insert into board (
		category,
		title, user_id, nickname, content
		) values (
		#{category}, #{title},
		#{userId}, #{nickname}, #{content}
		)
	</insert>

	<insert id="createVote" parameterType="Int">
		insert into board_vote
		 values ((
		select max(no) from board
		),0,0);
	</insert>

	<select id="select" parameterType="Int" resultMap="Board">
		select no,
		b.category, b.title,b.content,b.user_id, b.nickname, b.view,
		b.created_time, v.good, v.bad
		from board b, board_vote v
		where b.no = #{boardNo} and v.board_no =  #{boardNo}
	</select>

	<update id="updateView" parameterType="Int">
		UPDATE board set
		view =
		view+1
		where no = #{boardNo}
	</update>

	<update id="update" parameterType="Board">
		update board set
		category =
		#{category},
		title = #{title},
		content = #{content}
		where no =
		#{boardNo};
	</update>

	<delete id="delete" parameterType="Int">
		delete from board
		where
		no =
		#{boardNo}
	</delete>

	<update id="voteGood" parameterType="Int">
		update board_vote set
		good =
		good+1
		where
		board_no = #{boardNo}
	</update>

	<update id="voteBad" parameterType="Int">
		update board_vote set
		bad=
		bad+1
		where
		board_no = #{boardNo}
	</update>
</mapper>