<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.yobangcok.model.dao.FavorDao">


	<resultMap id="FavoriteGroup"
		type="com.ssafy.yobangcok.model.dto.FavoriteGroup">
		<result column="user_id" property="userId" />
		<result column="group_name" property="groupName" />
		<result column="group_no" property="groupNo" />
		<result column="count" property="count" />
	</resultMap>
	

	<insert id="insert" parameterType="Favorite">
		insert into 
		favorite (aptSaleNo, group_no)
		values
		(#{aptSaleNo},#{favoritegroup})
	</insert>

	<update id="favoriteGroupUpdate" parameterType="FavoriteGroup">
		UPDATE favorite_group set
		count = count+1
		where group_no = #{aptSaleNo}
	</update>

	<delete id="delete" parameterType="Integer">
		delete from favorite
		where
		aptSaleNo=#{aptSaleNo} and group_no=#{groupNo}
	</delete>


	<insert id="insertGroup" parameterType="FavoriteGroup">
		insert into
		favorite_group (user_id, group_name)
		values (#{userId}, #{groupName})
	</insert>

	<update id="updateGroup" parameterType="FavoriteGroup">
		UPDATE favorite_group set
		group_name= #{groupName}
		where group_no = #{groupNo}
	</update>

	<delete id="deleteGroup" parameterType="Integer">
		delete from
		favorite_group
		where no = #{groupNo}
	</delete>

	<select id="selectGroup" parameterType="String"
		resultMap="FavoriteGroup">
		select group_no, group_name,user_id,count
		from favorite_group
		where user_id = #{id}
	</select>
	
	<select id="selectFavorite" parameterType="String"
		resultType="Favorite">
		select no, aptSaleNo, group_no as favoritegroup
		from favorite
		where group_no = #{Favorite}
	</select>

</mapper>