<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.yobangcok.model.dao.SubsDao">

	<select id="search" parameterType="Subscription"
		resultType="Int">
		select count(*)
		from subscription
		where id = #{id} and subscription_id = #{subscriptionId}
	</select>

	<insert id="insert" parameterType="Subscription">
		insert into subscription (id, subscription_id)
		values (#{id},#{subscriptionId})
	</insert>

	<delete id="delete" parameterType="Subscription">
		delete from subscription
		where id = #{id} and subscription_id = #{subscriptionId}
	</delete>

</mapper>